@model Association
<div class="text-center">
    @await Html.PartialAsync("_Navbar")
    <h1>@ViewBag.OneProduct.ProductName</h1>
</div>
<div class="d-flex justify-content-around">
    <div>
        <h1 class="text-center">Categories</h1>
        <ul class="list-group">
            @foreach (Association a in ViewBag.ProductWithCategories.Categories)
            {
                <li class="list-group-item">@a.Category.CategoryName</li>
            }
        </ul>
    </div>
    <div>
        <h1 class="text-center mb-3">Add Categories</h1>
        <form action="/associations/create/product" method="post">
            @* <label asp-for="CategoryId" class="form-label">Add Categories</label> *@
            <select asp-for="CategoryId" class="form-select">
                @foreach (Category c in ViewBag.AllCategories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
            <input asp-for="ProductId" value="@ViewBag.ProductId" class="visually-hidden">
            <input type="submit" value="Add" class="btn btn-primary mt-3 float-end">
        </form>
    </div>
</div>